
body{
    text-align: center;
    margin-top: 3rem;
    font-family: 'Noto Sans', sans-serif;
    background: linear-gradient(
        90deg, #2d0303, #050539);
}

.container h1{
    margin: 4rem 0;
    color: navajowhite;
}

table{
    margin: auto;
}

input{
    font-size: 1.681rem;
    border-radius: 4px;
    border: 2px solid black;
}

button{
    color: navajowhite;
    font-size: 1.5rem;
    width: 5rem;
    height: 3rem;
    background: #252323;
    border: 2px solid #453d3d;
    border-radius: 4px;
}

button:hover{
    background-color: #3a0000;
    cursor: pointer;
}

.calculator{
    display: inline-block;
    border: 2px solid black;
    padding: 19px 23px;
    border-radius: 6px;
    background-color: #292929;
}